<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="verify-v1" content="s6FtOh/jdZDPRwqFg2dss+96Jw/kfUz6ZmJVaNuaGVc=" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Friends of Deep Creek Lake: A community organization dedicated to Deep Creek Lake watershed protection, preservation, and restoration" />
<meta name="keywords" content="friends, deep creek lake, dcl, watershed protection, friends of dcl, garrett county, property owners, watershed zoning, watershed, maryland, tmdl, 303(d), clean water act, allegheny highland, spirogyra, duckweed, water resources, wetland, water quality, youghiogheny river, savage river, sediment, erosion, poland run, cherry creek" />

<title>Friends of Deep Creek Lake {% block title %}{% endblock %}</title>
<link href="/media/static/css/style.css" type="text/css" rel="stylesheet" />
{% block head %}{% endblock %}
</head>

<body>
	
<div id="page_wrapper">
<div id="page_header">
<h1>&nbsp;</h1>
<h2>Watershed protection, preservation, and restoration</h2>
</div>
<div id="menu_bar">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/org/">Organization</a></li>
<li><a href="/materials/">Materials</a></li>
<li><a href="/photo/">Photos</a></li>
<li><a href="/donate/">Donate</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="/links/">Links</a></li>
</ul>
</div>

<div id="content_wrapper">

	<div id="left_side">
		{% block content %}
		{% endblock %}
	
	</div>

	<div id="right_side">
		<h3>Store<font color="red"><sup>NEW</sup></font></h3>
		<p><a href="/store/">Click here</a> to purchase t-shirts and decals to help support our efforts.</p>
		<h3>Recent articles</h3>
		{% load flatpage_tags %}
		{% get_pages %}
		<h3>News &amp; Events</h3>
		<p>STREAM WADING AT DCL. Join us in Stream Wading outings to collect sample macroinvertebates in DCL tributaries. Dates for samplings:</p>
		<ul class="arrow_list">
			<li> April 4, 5, 6 and 7 </li>
			<li> April 10 and 11</li>
			<li> April 17 and 18.</li>
		</ul>
		<p><a href="/stream-waders/">Just click here to get sign up form.</a></p>
	</div>
</div>

<div id="page_footer">

<p>&copy;2009 Friends of Deep Creek Lake<br>
<a href="http://www.dreamhost.com/green.cgi">
<img border="0" alt="Green Web Hosting! This site hosted by DreamHost."
src="https://secure.newdream.net/green1.gif" height="25" /></a></p></div>

</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2806385-5");
pageTracker._trackPageview();
</script>
</body>

</html>
